#root {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}

.app {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
